<div class="form-card">
    <button mat-icon-button class="button-close" (click)="fecharCard()">
        <i class="material-icons icon">close</i>
    </button>
    <form [formGroup]="form">
        <div fxLayout="raw" fxLayoutGap="20px">
                <mat-form-field  fxFlex="20%">
                    <input matInput placeholder="Valor" type="number" formControlName="valor" required [(ngModel)]="movimentacao.valor">
                </mat-form-field>

                <mat-form-field fxFlex="20%">
                    <input matInput placeholder="Data" formControlName="data" required [matDatepicker]="data" [(ngModel)]="movimentacao.data">
                    <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker  #data></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex="20%">
                    <mat-select placeholder="Tipo"  formControlName="tipo"  [(ngModel)]="movimentacao.tipoMovimentacao">
                            <mat-option value="Receita">Receita</mat-option>
                            <mat-option value="Despesa">Despesa</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field  fxFlex="40%">
                    <input matInput placeholder="Descrição"  type="text" formControlName="descricao" [(ngModel)]="movimentacao.descricao">
                </mat-form-field>

        </div>
        <button mat-raised-button color="primary" style="font-weight: bold" (click)="salvar()">Salvar</button>
        <button *ngIf="movimentacaoEdicao" mat-icon-button style="position: relative;float: right; margin-right: -9px;"  (click)="excluir()">
                <i class="material-icons icon">delete</i>
        </button>
    </form>
<div>