.container {
    width: 100%;
    height: 100%;
    background-color: #ffd300;
}

.form-login {
    width: 100%;
    height: 35%;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px 35px;
}

.button-login {
    margin-top: 20px;
    color: #3f3f3f;
    font-weight: bold;
    background-color: #ffd300;
}

.button-login:hover {
    outline: 2px solid #ffd300;
    background-color: white;
    color: #ffd300;
}

.button-cadastro {
    padding-top: 20px;
    color: #4d4d4d;
    font-weight: bold;
    cursor: pointer;
}