<div fxLayoutAlign="start center"  class="card" fxLayoutGap="30px">
    <div fxLayout="raw" fxLayoutAlign="start center"  style="width: 100%;" fxLayoutGap="30px">
        <i class="material-icons icon">arrow_upward</i>
        <span style="font-weight: bold">{{movimentacao.valor | currency:'BRL':true}}</span>
        <span>{{movimentacao.data | date:"MM/dd/yyyy"}}</span>
        <span>{{movimentacao.descricao}}</span>
    </div>

    <div fxLayoutAlign="end center" class="buttons">
        <button mat-icon-button  fxLayoutAlign="center center">
            <i  style="font-size: 18px!important" class="material-icons icon" (click)="clicouEditar(movimentacao)">edit</i>
        </button>
    </div>
</div>
